body{
	background: transparent;
}

h2{
	font-size: 3em;
}
/**************************************/
#title{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -237px;
	color: #FFF;
	font-weight: bold;
	cursor: pointer;
	z-index: 100;
	padding: 16px 10px 2px 10px;
	border: 1px solid #FFF;
}

#title p{
	font-size: xx-large;
}
/**************************/

#btn-izq{
	position: absolute;
	left: 0%;
	top: 0%;
	height: 100%;
	width: 50%;
	background: url(../img/full1.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: left;
}

#btn-izq:hover{
	zoom: 1;
	filter: alpha(opacity=80);
	opacity: 0.8;
}

#btn-izq div h2{
	color: white;
	position: absolute;
	top: 70%;
	left: 30%;
}

/*******************************/

#btn-der{
	position: absolute;
	left: 50%;
	top: 0%;
	height: 100%;
	width: 50%;
	background: url(../img/full2.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: right
}

#btn-der:hover{
	zoom: 1;
	filter: alpha(opacity=80);
	opacity: 0.8;
}

#btn-der div h2{
	color: white;
	position: absolute;
	top: 70%;
	right: 30%;
}