body{
    overflow-x: hidden;
    overflow-y: visible;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'bebas',Arial,Helvetica;
    font-size: 2em;
}

p{
	font-family: 'courier_newregular',serif;
    font-size: 16px;
}

svg{
    position: relative !important;
    margin: 0 auto !important;
	height: 563px !important;
}

#participa{
    background: url(../img/participa_1.png) no-repeat;
    height: 100px;
    width: 35px;
    position: absolute;
    top: 20px;
    left: 97%;
    z-index: 100;
	cursor: pointer!important;
}

#participa:hover{
    background: url(../img/participa_2.png) no-repeat;
    top: 20px;
    left: 96.5%;
}

#participa:active{
    background: url(../img/participa_1.png) no-repeat;
    top: 20px;
    left: 96.5%;
}

#logo{
    margin-top: 15px;
    background: url(../img/mosaico.png) no-repeat;
    height: 77px;
    width: 100px;
	cursor: pointer!important;
}

#videomodal {
    display: none;
}

#participamodal{
    display: none;
}

#modalwebcam{
	display: none;
}

#modalpregunta{
	display: none;
}

.modal-body{
    text-align: center;
}


header{
    background: url(../img/copia.png) no-repeat;
    z-index: 1000;
    width: 100%;
    height: 120px;
}

#proyecto{
    position: absolute;
    background: url(../img/p1.png) no-repeat;
    top: 10px;
    left: 870px;
    height: 30px;
    width: 130px;
    z-index: 1001;
	cursor: pointer!important;
}

#proyecto:hover{
    background: url(../img/p2.png) no-repeat;
}

#proyecto:active{
    background: url(../img/p3.png) no-repeat;
}


#triangulo{
	position: absolute;
    background: url(../img/info_1.png) no-repeat;
    top: 40px;
    left: 870px;
    height: 80px;
    width: 116px;
    z-index: 1001;
	cursor: pointer!important;
}

#triangulo:hover{
    background: url(../img/info_2.png) no-repeat;
}

#triangulo:active{
    background: url(../img/info_3.png) no-repeat;
}

header{
    background: url(../img/123.png) no-repeat;
    z-index: 1000;
    width: 100%;
    height: 120px;
}

#lienzo{
    top: 0;
    left: 0;
	height: 562px !important;
}

.span6{
	margin: 0;
}

#strip{
	background: url(../img/back.png);
	height: 110px;
	margin-top: 120px;
	color: white;
}

#strip p{
	font-size: 12px;
}

footer ul li{
	display: inline;
	padding-left: 20px;
}

footer ul li a{
	font-family: 'bebas',Arial,Helvetica;
	color: #000;
	font-size: larger;
}

footer ul li a:hover{
	color: #000;
}

footer{
	margin-top: 0;
	background: url(../img/312.png) no-repeat;
	text-align: center;
	padding-top: 20px;
	height: 60px;
}

#registro{
	text-align: left;
	padding-left: 20px;
}

.advice{
	color: orange;
	display: none;
}

#modal-preguntas-abiertas{
	display: none;
}


.center{
	text-align: center;
}

/*
No js
*/

.no-js{
	text-align: center;
}

.no-js p{
	margin: 50px 0;
}

.no-js #triangulo, .no-js #proyecto, .no-js #participa, .no-js #lienzo{
	display: none;
}

.js .mensaje{
	display: none;
}

